body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}
.content {
    flex: 1;
}
.banner {
    margin-top: 56px;
}

.keyPoint {
    max-height: 70px;
}